@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Styles personnalisés */
.transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

/* Personnalisation de la scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
	background: #374151;
}

::-webkit-scrollbar-thumb {
	background: #cbd5e1;
	border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
	background: #4b5563;
}

::-webkit-scrollbar-thumb:hover {
	background: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
	background: #6b7280;
}

@layer components {
	.input {
		@apply w-full mb-3 p-3 rounded-lg border border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white;
	}

	.btn-primary {
		@apply px-4 py-2 bg-[#004aad] hover:bg-[#003b8a] text-white rounded-lg;
	}

	.btn-gray {
		@apply px-4 py-2 bg-gray-300 dark:bg-gray-700 text-gray-900 dark:text-white rounded-lg;
	}
}
